/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: Helvetica;
  }  


h1 {
  text-align: center;
  font-size: 1.8em;
}
    /*  Cards Section  */

.container{
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-flow: row nowrap;
}



.container-box{
  display: flex;
  flex-direction: column;
  height: 150px;
  margin: 10px;
  flex-basis: 350px;
  flex-grow: 1;
  flex-shrink: 1;
  border: 3px solid gray;
  
}

.box-title{
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 130px;
  height: 30px;
  background-color: rgb(233, 233, 233);
  border: 1px solid grey;
  flex-shrink: 0;

}

.container-box p{
  padding: 10px;
  font-size: 0.8em;
}

/* Media Queries */

@media (max-width:991px) and (min-width: 768px) {
  .container {
    flex-flow: row wrap;
  }
  .container-box {
    flex-basis: 350px;
  }
}

@media (max-width:767px) {
  .container {
    flex-flow: row wrap;
  }
  .container-box {
    flex-basis: 400px;
    flex-shrink: 1;

  }
}